h1{
    color: blue;
    background-color: rgb(255, 255, 255);
}
.heading{
    color: aliceblue;
}
h4{
    color: blue;
}
body{
    background-color: black;
}
button{
    color: blue;
    background-color: rgb(255, 255, 255);

}