#btn{
    padding: 10px 20px;
    color: aliceblue;
    background-color: rgb(67, 4, 185);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25ms;
}
div{
    text-align: center;
}